@import "styles/palette.less";

// global styles
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

// app styles
.app {
    background-color: @background-color;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;

    .content {
        height: 100%;
        min-width: 600px;
        display: flex;
        flex-direction: row;
    }
}