@import "../styles/palette.less";

.ItemCartView {
	.item__name {
        text-align: left; 
		cursor: pointer;
	}
	
    .item__quantity {
        .btn-incr, .btn-decr {
            cursor: pointer;
            border: none;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .btn-del {
        cursor: pointer;
    }
}