@import "../styles/palette.less";

.Item {
	.item-info {		
		p:first-child { 
			margin-top: 1%; 

			.btn-link {
				padding: 2px 4px 4px 4px;
			}
		}
	}

    .item-pics {
    	.item-pic {
    		img {
    			width: auto;
    			max-height: 300px;
    			margin: auto;
    		}
		}
	}

	.pager { margin: 5px 0; }
	
	.action-buttons {
		margin: 0 5%;

		display: flex;
		justify-content: space-between;
	}
}