@import "../styles/palette.less";

.ItemsGroupsPage {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-content: center;

    .items-group {
        width: 150px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}