@import "../styles/palette.less";

.ItemsPage {

    // display: flex;

    .ItemsFilter {
        margin: 1% auto;
        
        display: flex;
        justify-content: center;
    }

    .items-grid {
        margin: 2% auto;
    }

    .Item {
        margin: 5px 5%;
    }
}