@import "../styles/palette.less";

.Item {
	.item-info {		
		p:first-child { margin-top: 1%; }
	}

    .item-pics {
    	.item-pic {
    		img {
    			width: auto;
    			max-height: 300px;
    			margin: auto;
    		}
		}
    }
}