@import "../styles/palette.less";

.ItemsPage {

    .ItemsFilter {
        margin: 1% auto;
        
        display: flex;
        justify-content: center;
        padding-left: 5px;
        padding-right: 15px;
    }

    .items-grid {
        margin: 2% auto;
    }

    .Item {
        margin: 5px 5%;
    }
}