@import "../styles/palette.less";

.Menu {
    .menu-link {
        font-size: 17px;
        color: @contrast-text-color;
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 16px;
        padding-right: 16px; 
    }  

    .badge {
        top:-10px;
        right:-5px;
        position:relative;
        background:green;
    }
}